USE [master]
GO
/****** Object:  Database [EducateDB]    Script Date: 30/03/2026 21:07:49 ******/
CREATE DATABASE [EducateDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EducateDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EducateDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EducateDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\EducateDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EducateDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EducateDB]
GO
/****** Object:  Table [dbo].[StudentTbl]    Script Date: 30/03/2026 21:07:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentTbl](
	[StudentID] [nvarchar](15) NOT NULL,
	[StudentName] [nvarchar](25) NOT NULL,
	[PPSNumber] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_StudentTbl] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[StudentTbl] ([StudentID], [StudentName], [PPSNumber]) VALUES (N'1', N'Nayara', N'1111')
INSERT [dbo].[StudentTbl] ([StudentID], [StudentName], [PPSNumber]) VALUES (N'2', N'Eduardo', N'2222')
INSERT [dbo].[StudentTbl] ([StudentID], [StudentName], [PPSNumber]) VALUES (N'3', N'Livia', N'3333')
GO
USE [master]
GO
