USE [master]
GO
/****** Object:  Database [GrantDB]    Script Date: 30/03/2026 21:09:39 ******/
CREATE DATABASE [GrantDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GrantDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GrantDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GrantDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\GrantDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GrantDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GrantDB]
GO
/****** Object:  Table [dbo].[DecisionTbl]    Script Date: 30/03/2026 21:09:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DecisionTbl](
	[ApplicationID] [int] IDENTITY(1,1) NOT NULL,
	[PPSNumber] [nvarchar](15) NOT NULL,
	[Decision] [bit] NOT NULL,
 CONSTRAINT [PK_DecisionTbl] PRIMARY KEY CLUSTERED 
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DecisionTbl] ON 

INSERT [dbo].[DecisionTbl] ([ApplicationID], [PPSNumber], [Decision]) VALUES (1, N'1111', 0)
INSERT [dbo].[DecisionTbl] ([ApplicationID], [PPSNumber], [Decision]) VALUES (2, N'2222', 1)
INSERT [dbo].[DecisionTbl] ([ApplicationID], [PPSNumber], [Decision]) VALUES (3, N'3333', 1)
SET IDENTITY_INSERT [dbo].[DecisionTbl] OFF
GO
USE [master]
GO
