
@{
    ViewBag.Title = "WelcomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.WelcomeMessage = "HDip College Information System";
    ViewBag.ContactUs = "Contact IT Services - Phone 087 1234567";
}

@section Metadatainfo {
    <meta name="author" content="Place Your REAL Name here">
}

<h2>Choose a link to either add or list student information</h2>
